<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Para leer imágenes -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Para leer vídeos -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Para leer audio -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:ignore="background-location" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LOTIFYllfsa"
        tools:targetApi="31">
        <activity
            android:name=".ForecastResponse"
            android:exported="false" />

        <activity
            android:name=".recorridosActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherResponse"
            android:exported="false" />
        <activity
            android:name=".WeatherApiService"
            android:exported="false" />
        <activity
            android:name=".RetrofitClient"
            android:exported="false" />
        <activity
            android:name=".LoteInfoActivity"
            android:exported="false" />
        <activity
            android:name=".LoteActivity"
            android:exported="false" />
        <activity
            android:name=".lotes"
            android:exported="false" />
        <activity
            android:name=".cargardatosActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>